
$font-sans: SF UI Text, Helvetica Neue, sans-serif;
$text-dark: #6B6C76;
$text-light: #9E9FAD;

$drop-shadow: 0px 3px 3px 1px rgba(0,0,0,0.15);
$drop-shadow-active: 0px 13px 10px 0px rgba(0,0,0,0.15);
$tile-scale: 0.5;
$border-radius: 0px;

.event-tile {
	width: calc(350px * #{$tile-scale});
	height: calc(450px * #{$tile-scale});
	background: white;
	border-radius: $border-radius;
	border: 1px solid rgba(240,240,240,1);
	box-shadow: $drop-shadow;
	margin: 10px;
	margin-right: 15px;
	margin-bottom: 15px;

	padding: 20px;
	padding-bottom: 30px;
	transition: all 125ms linear;
	transform: TranslateY(0%);

	&:hover {
		transform: TranslateY(-1.5%);
		box-shadow: $drop-shadow-active;
	}
	&:hover img {
		transform: TranslateY(-2%);
	}
	&:hover .overlay {
		opacity: 1;
	}
	h1, h2, h3, h4 {
		font-family: $font-sans;
		font-weight: 400;
		font-size: 14pt;
	}
	h2 {
		font-size: 12pt;
		opacity: 0.5;
	}
	img {
		width: 100%;
		height: auto;
		min-height: 175px; /* Hacky fix to stop content jumping */
		border-radius: $border-radius;
		margin-bottom: 15px;
		transition: transform 125ms linear;
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: white;
		opacity: 0;
		transition: opacity 125ms ease-out;

		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		font-family: Montserrat, sans-serif;
		font-weight: 900;
	}
}

/* Dragon dreaming 2013 */
